@import '@app/styles/colors';
@import '@app/styles/mixins';

.wrapper {
  color: $primary;
  @include position-absolute-center;
}

.text {
  @include flex-align-center;
  margin-bottom: 42px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  padding-right: 16px;
  border-right: 2px solid $primary;
}

.message {
  padding-left: 16px;
  font-size: 22px;
}
