@import '@app/_styles/colors';
@import '@app/_styles/mixins';

.wrapper {
  position: relative;
  padding-left: 44px;
  padding-top: 7px;
  padding-right: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primary;
  border-radius: 0px 0px 22px 22px;
  float: left;
  width: 100%;
  z-index: 10;
}

.wrapperPadding {
  padding: 44px 25px 36px 44px;
}

.title {
  color: $white;
  padding-left: 9px;
  padding-top: 8px;
}

.flex {
  @include flex-align-center;
}

.lastButton {
  padding: 50px 44px 42px 44px !important;
}

.lastButtonText {
  color: $grey-light;
  font-weight: 600;
  font-size: 15px;
}
