@import '@app/_styles/colors';
@import '@app/_styles/mixins';

.base {
  @include flex-align-center;
  gap: 10px;
  cursor: pointer;
  border-radius: 3px;
  color: $white;
  line-height: 17px;
  font-weight: 700;
  justify-content: center;
}

.primary {
  background-color: $secondary;
  padding: 10px 20px;
  font-size: 14px;
}

.secondary {
  background-color: $primary;
  padding: 10px 20px;
  font-size: 14px;
}

.underlined {
  padding: 0;
  color: $secondary;
  font-size: 14px;
  text-decoration: underline;
}

.text {
  padding: 0;
  background-color: transparent;
}
