/// Primary text color
/// @group general
$textColor: #495057;

/// Secondary text color
/// @group general
$textSecondaryColor: #6c757d;

/// Radius of the corners
/// @group general
$borderRadius: 3px;

/// Duration of the property transitions
/// @group general
$transitionDuration: 0.2s;

/// Properties of a list item transition
/// @group general
$listItemTransition: background-color $transitionDuration, border-color $transitionDuration,
  box-shadow $transitionDuration;

/// Space between two inline items
/// @group general
$inlineSpacing: 0.5rem;

/// Outline of a focused element
/// @group general
$focusOutline: 0 none;

/// Outline offset of a focused element
/// @group general
$focusOutlineOffset: 0;

/// Outline color of a focused element
/// @group general
$focusOutlineColor: #bfd1f6;

/// Box shadow of a focused element
/// @group general
$focusShadow: 0 0 0 0.2rem $focusOutlineColor;
